*{
    margin: auto;

}

#btnDiv{
    margin: auto;
    background-color: aqua;
    width: 400px;
    /* height: 250px; */
}

#myBtn{
    width: 80px;
    height: 40px;
    
}

#taskList{
    width: 150px;
    height: auto;
    border: 1px solid;
}

.completed{
    border: 1px solid red;
}